<%= unless assigns[:current_uri] && String.starts_with?(@current_uri, "/game/") do %>
  <div class="site-header">
    <.link navigate={~p"/"} class="site-logo-link">
      <img
        src={~p"/images/noBlue.png"}
        alt="Forty Fives - Play the 45s card game online"
        class="site-logo"
      />
    </.link>
    <nav aria-label="Main">
      <ul class="navbar-list">
        <%= if assigns[:current_uri] in ["/play"] or
                (assigns[:current_uri] && String.starts_with?(@current_uri, "/play/")) do %>
          <li class="navbar-list-element">
            <.link navigate={~p"/"} class="navbar-link">Home</.link>
          </li>
        <% else %>
          <li class="navbar-list-element">
            <.link navigate={~p"/play"} class="navbar-link">Play</.link>
          </li>
        <% end %>
        <%= if @current_user do %>
          <%= if assigns[:current_uri] != "/users/settings" do %>
            <li class="navbar-list-element">
              <.link href={~p"/users/settings"} class="navbar-link">Settings</.link>
            </li>
          <% else %>
            <li class="navbar-list-element">
              <.link navigate={~p"/"} class="navbar-link">Home</.link>
            </li>
          <% end %>
          <li class="navbar-list-element">
            <.link href={~p"/users/log_out"} method="delete" class="navbar-link">Log out</.link>
          </li>
        <% else %>
          <li class="navbar-list-element">
            <.link href={~p"/users/register"} class="navbar-link">Register</.link>
          </li>
          <li class="navbar-list-element">
            <.link href={~p"/users/log_in"} class="navbar-link">Log in</.link>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
<% end %>
<main>
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
