<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="description" content="A website for the card game forty fives. You can learn and play the game online.">
    <.live_title>
      <%= assigns[:page_title] || "Forty Fives" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body style="background: #041624;">
    <div style="background: #071f31; border-bottom: 2px solid #d2e8f9; display: flex;">
      <a href="/">
        <img
          src={~p"/images/phoenix.png"}
          alt="Forty Fives Logo"
          style="margin-right: auto; width: 60%; margin-bottom: 0; margin-top: 0px"
        />
      </a>
      <ul class="navbar-list">
        <%= if @conn.request_path != "/play" and @conn.request_path != "/game" and not String.starts_with?(@conn.request_path, "/game") do %>
          <li class="navbar-list-element">
            <.link href={~p"/play"} style="font-size: 1.25rem;">
              Play
            </.link>
          </li>
        <% else %>
          <li class="navbar-list-element">
            <.link href={~p"/"} style="font-size: 1.25rem;">
              Home
            </.link>
          </li>
        <% end %>
        <%= if @current_user do %>
          <li class="navbar-list-element">
            <.link href={~p"/profile"} style="font-size: 1.25rem;">
              <%= @current_user.username %>
            </.link>
          </li>
          <%= if @conn.request_path != "/users/settings" do %>
            <li class="navbar-list-element">
              <.link href={~p"/users/settings"} style="font-size: 1.25rem;">
                Settings
              </.link>
            </li>
          <% else %>
            <li class="navbar-list-element">
              <.link href={~p"/"} style="font-size: 1.25rem;">
                Home
              </.link>
            </li>
          <% end %>
            <li class="navbar-list-element">
              <.link href={~p"/users/log_out"} method="delete" style="font-size: 1.25rem;">
                Log out
              </.link>
            </li>
          <% else %>
            <li class="navbar-list-element">
              <.link href={~p"/users/register"} style="font-size: 1.25rem;">
                Register
              </.link>
            </li>
            <li class="navbar-list-element">
              <.link href={~p"/users/log_in"} style="font-size: 1.25rem;">
                Log in
              </.link>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="content">
      <%= @inner_content %>
    </div>
    <%= if @conn.request_path != "/game" and not String.starts_with?(@conn.request_path, "/game") do %>
      <footer>
        <div class="container mx-auto text-center">
          <p class="inline-flex items-center justify-center" style="font-size: 18px;">
            Open source on&nbsp;
            <a style="color:#d2e8f9; text-decoration: underline;" href="https://github.com/Zinkelburger/fortyfives.net" class="inline-flex items-center">
              GitHub
              <svg height="23" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="23" data-view-component="true" class="octicon octicon-mark-github v-align-middle ml-1" style="fill: #d2e8f9; margin-bottom: 5px;">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.97 0-.88.31-1.6.82-2.16-.08-.2-.36-1.02.08-2.12 0 0 .67-.22 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.28.82 2.16 0 3.09-1.87 3.77-3.65 3.97.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.015 8.015 0 0016 8c0-4.42-3.58-8-8-8z"></path>
              </svg>
            </a>
          </p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
